@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #515151;
    font-size: 16px;
}
body {
    background-color: #333;
}
.navbar {
    font-family: 'Raleway', sans-serif;
    height: 100px;
    padding-top: 50px;
    background-color: #fff;
}
.navbar .flex {
    justify-content: space-between;
}
.navbar ul {
    display: flex;    
}
.logo a {
    font-size: 1,5rem;
}
a {
    text-decoration: none;
    padding: 0 5px 5px 5px;
    margin:0 45px 0 45px;
    font-size: 1,3rem;
}
a:hover {
    border-bottom: 1px solid #515151;
}
ul {
    list-style-type: none;

}
.container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: center;
    align-items: center;
}
