@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    z-index: auto;
}
body {
    overflow-x:hidden;
}

li, a {
    font-size: 24px;
    color: #515151;
    text-decoration: none;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 30px;
    height: 120px;
    max-width: 1440px;
    margin: 0 auto;
}
.navbar img{
    margin-right: 10px;
}
.navbar .icon {
    margin-right: auto;
}
.navbar .icon:hover{
    transform: rotate(360deg);
    transition:0.3s ease-in-out;
}
.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px 10px 0px;
    font-size: 18px;
}
.nav_links a:hover{
    color: #FF9A3D;
    border-bottom: 1px solid #FF9A3D;
    transition:0.2s ease-in;
}
/* Header */
header {
    max-width: 1440px;
    height: 585px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-image: url(img/cover\ photo.png);
    background-position:center;
    background-size: cover;
}

header h1{
    font-size: 100px;
    letter-spacing: 0.02em;
    color: #FFC53D;
    margin-top: 70px;
}
header p{
    margin-top: 20px;
    font-size: 36px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
}

.social a {
    margin-left: 20px;
    color: #fff;
    font-size: 30px;
}

.social a:first-child {
    margin-left: 0px;
}

/* Help */

.help {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1440px;
    margin: 0 auto;
    height: 220px;
    align-items: center;
}
.help h1 {
    grid-column: 1/span2;
    place-self: center;
    font-size: 36px;
}
.btn{
    display:block;
    width: 210px;
    padding: 20px;
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    border-radius: 15px;
    text-align: center;
    color: #fff;
}
.btn:hover {
    color: #FF9A3D;
    background: #fff;
    border: 1px solid #FF9A3D;
    transition:0.3s ease-in-out;
}
.buttonleft {
    justify-self: flex-end;
    margin-right: 50px;
}
.buttonright{
    justify-self: flex-start;
    margin-left: 50px;
}

/* About me */

.about{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 30px;
}

.shadow {
    width: 66%;
    background-color:#FAFAFF;
    padding-top: 30px;
    padding-left: 100px;
    height: 430px;
    display: grid;
    grid-template-rows: 1fr 280px 1fr;
    
}
.shadow h1 {
    font-size: 32px;
    color: #222;
    padding-left: 100px;
 
}
.information {
    width: 1300px;
    display:grid;
    background-color: #fff;
    grid-template-columns: 2fr 4fr 8fr;
    justify-items: center;
    align-items: center;
    box-shadow:6px 6px 20px rgba(0, 0, 0, 0.20);
}
.image {
    padding-top: 30px;
    align-self: start;
}
.image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.info {
    align-self: stretch;
    padding-top: 50px;
    font-size: 18px;
}
.info ul {
    list-style: none;
}
.info li {
    margin-top: 10px;
}
.info li:first-child {
    margin-top: 0px;
}
.info .text-color{
    color: #FFC53D ;
    font-family: sans-serif;
}
.description {
    border-left: 4px dashed #FFC53D;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 40px;
    margin: 20px 0px;
    font-size: 18px;
    align-self: stretch;
    word-spacing: 10px;
}

/* Skills */

.skills{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 30px;
}

.shadowright {
    width: 66%;
    background-color:#FAFAFF;
    padding-top: 30px;
    padding-left: 100px;
    height: 430px;
    display: grid;
    grid-template-rows: 1fr 280px 1fr;
    margin-left:auto;
    box-shadow:6px 6px 20px rgba(0, 0, 0, 0.05);
}
.shadowright h1 {
    font-size: 32px;
    color: #222; 
}
.information2 {
    position: relative;
    left: -37.5%;
    width: 1300px;
    display:grid;
    background-color: #fff;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    box-shadow:6px 6px 20px rgba(0, 0, 0, 0.20);   
}

.card {
    margin: 30px 0px 0px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    display:grid;
    justify-items: center;
}
.card p {
    font-size: 24px;
}
.card h1{
    color: #FFC53D;
}

.card:nth-child(2){
    border-right: 4px dashed #FFC53D;
    border-left: 4px dashed #FFC53D;
}
.card h1 {
    margin: 20px;
}

/* Portfolio */
.portfolio{
    width: 1440px;
    margin:0 auto;
    text-align: center;
    background-color: #fff;
    padding-top: 10px;
}
.portfolio h1 {
    padding-bottom: 20px;
    font-size: 2rem;
}
.images {
    position:relative;
    max-width: 1440px;
    margin: 0 auto;
    text-align:center;
    
}
.images ul {
    display: flex;
    flex-wrap: wrap;
}

.images li {
    z-index: 10;
    height: 30vh;
    flex-grow: 2;
    list-style-type: none;
    display: block;
}
.images li:last-child {
    flex-grow: 25;
}
.images li:nth-child(4){
    flex-grow: 50;
}
.images img {
    max-height: 100%;
    min-width: 100%;
    object-fit: fill;
    vertical-align: bottom;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);
}
.images div {
    position: absolute;
    left: 30px;
    top: 20px;
    width: 25%;
    height: 30vh;
    color: #fff;
    text-align: left;
}
.images div p {
    font-size: 0.8rem;
}
.images div a {
    margin-top: 20px;
}
.btn_view{
    display:block;
    width: 100px;
    padding: 10px;
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    border-radius: 15px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.btn_view:hover {
    transition:0.3s ease-in-out;
    transform: scale(1.3);
}


/* Contact Us */

.contact {
    max-width: 1440px;
    height: 785px;
    margin: 10px auto;
    background-color: #FAFAFF;
}
.contact h1 {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 100px;
    font-size: 2rem;
}
.contact li {
    list-style-type: none;
}
.container {
    max-width: 1241px;
    height: 621px;
    margin: 0 auto;
}
.left_contact {
    max-width: 40%;
    height: 621px;    
    display:flex;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-right: 10%;
    background-color: #FF9A3D;
    float:left;
}

.left_contact ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-end ;
}
.left_contact li{
    color: #fff;
    font-size: 20px;
}
.left_contact li a{
    color: #fff;
    font-size: 20px;
}
.left_contact li a i{
    color: #fff;
    font-size: 30px;
    padding-left: 15px;
    margin-bottom: 10px;
}
.left_contact li a:first-child i{
    color: #fff;
    font-size: 30px;
    padding-left: 0px;
}
.left_contact li ul li {
    font-size: 25px;   
}
.left_contact li ul li p{
    font-family: sans-serif;
}
.left_contact a:first-child {
    margin-left: 0px;
}
.left_contact p a {
    color: #fff;
    text-decoration: underline;
}

.right_contact {
    float: left;
    width: 60%;
    height: 621px;
    background-color:#fff;
    box-shadow:6px 6px 20px rgba(0, 0, 0, 0.1)
}
.right_contact h2 {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 2.5rem;
}
.right_contact li {
    padding-left: 40px;
    padding-top: 20px;
}
.right_contact li:last-child {
    padding-left: 40px;
    padding-top: 20px;
    margin-left: 72%;
}
.right_contact a:hover {
    color: #FF9A3D;
    background: #fff;
    border: 1px solid #FF9A3D;
    transition:0.3s ease-in-out;
}

.name {
    height:40px;
    width: 90%;
    padding: 5px 10px;
    resize:vertical;
    resize:vertical;
    border-radius: 15px;
    border: none;
    background-color: #FAFAFF;
 }
 .name:focus{
     outline: none;
 }
 .message {
    height: 200px;
    width: 90%;
    padding: 5px 10px;
    background-color: #FAFAFF;
    resize:vertical;
    resize:vertical;
    border:none;
    border-radius: 15px;
    outline:none;
}
.message:focus {
    outline: none;
}
.right_contact h2::before{
    content: '';
    position: absolute;
    height: 50px;
    width:50px;
    right: 55.3%;
    background-color:#FF9A3D;
    transform: rotate(45deg);
 }
/* Footer */
footer {
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
}

/* Tablets and under */
@media(max-width: 768px) {
    .right_contact h2::before{
        display:none;
    }
    .information {
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 700px;
        text-align: center;
    }
    .image {
        align-self: center;
    }
    .description {
        border:none;
    }
    .shadowright {
        margin-top: 350px;
    }
    .information2 {
        display:flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 350px;
        height: 850px;
    }
    .card:nth-child(1){
        border-bottom: 4px dashed #FFC53D;
        padding: 0 60px;
    }
    .card:nth-child(2){
        border: none;
        border-bottom: 4px dashed #FFC53D;
    }
    .portfolio{
        margin: 0 auto;
        margin-top: 500px;
        text-align: center; 
        width: 768px;
    }
    .images div {
        width: 50%;
        height: 50px;
    }
    .images div p {
        display: none;
    }
    .images div a {
        margin-left: 70%;
        margin-top: 30%;
    }
    .contact {
        text-align: center;
        width: 650px;
    }
    .left_contact li{
        color: #fff;
        font-size: 20px;
        text-align: left;
    }
    .left_contact ul li a i:first-child  {
        color: #fff;
        font-size: 25px;
    }
    .left_contact ul li a {
        color: #fff;
        font-size: 14px;
    }
    .left_contact ul li a i  {
        color: #fff;
        font-size: 25px;
    }
    
    .left_contact li ul li {
        font-size: 15px;   
    }
    .right_contact ul li:last-child {
        margin-left: 50%;
    }
}
